:root {
    --color-primario: white;
    --color-secundario: thistle;
    --color-terciario: rgb(105, 5, 105);
}
  
body{
    text-align: center;  
    font-family: monospace;
    margin:0;
}

h1{
    font-size: 50px;
    color: var(--color-secundario);
}

h2{
    font-size: 30px;
    color: var(--color-primario);
}
.container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.principal{
    width: 70%;
    margin: auto;
}

.foto img{
    width: 150px;
}

.presentacion{
    padding-top: 20px;
    padding-bottom: 20px;
}

.description{
    font-size: 18pt;
    margin-bottom: 50px;
}

.caracteristicas{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
}
@media (max-width: 600px) {
    .caracteristicas {
        flex-direction: column;
        justify-content: center;
    }
}

.caracteristicas div{
    width: 120px;
    margin-bottom: 10px;
}

.caracteristica .img{
    margin-bottom: 15px;
}



.icon img{
    width: 50px;
}


.secundario{
    width: 80%;
    padding: 5% 10%;
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer img{
    width: 20px;
}

.proyectos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.proyecto{
    width: 300px;
    margin: 20px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(82,82,82,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(82,82,82,1);
    box-shadow: 5px 5px 5px 0px rgba(82,82,82,1);
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;

}
.proyecto img{
    width: 300px;
    
}
.proyecto h3{
    color: var(--color-secundario);
}

.proyecto:hover {
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    border-radius: 5px;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}

.proyecto a:link {
  text-decoration: none;
}

.proyecto a:visited {
  text-decoration: none;
}

.proyecto a:hover {
  text-decoration: none;
}

.proyecto a:active {
  text-decoration: none;
}
